<h2>HAVING</h2>


<h3>データの歯抜けを探す</h3>

<%= dbconsole SeqTbl.all.to_sql, SeqTbl.all %>
<%= dbconsole @sql, @result %>
<%= dbconsole @sql2, @result2 %>
<%= dbconsole @sql3, @result3 %>
<%= dbconsole @sql4, @result4 %>
