<h2>自己結合</h2>


<h3>重複・順列・組み合わせ</h3>

<%= dbconsole Product.all.to_sql, Product.all %>
<%= dbconsole @sql, @result %>
<%= dbconsole @sql2, @result2 %>
<%= dbconsole @sql3, @result3 %>

<h3>ランキング</h3>
<%= dbconsole Product2.all.to_sql, Product2.all %>
<%= dbconsole @sql4, @result4 %>
<%= dbconsole @sql5, @result5 %>
